<p>hiA</p>
<% unless @tweets.nil? %>
    <% @tweets.each do |tweet| %>
         <p><%= tweet.text %></p>
    <% end %>
<% end %>

<% unless @followers.nil? %>
    <% @followers.each do |f| %>
        <p><%= f.name %></p>
    <% end %>
<% end %>


<% unless @user.nil? %>
    <%= @user.name %>
<% end %>